.footer {
  position: relative;
  z-index: 1;
  margin: 0 auto 70px;
}

.socialIcons ul {
  display: flex;
  align-items: center;
}
.socialIcons ul li {
  list-style: none;
  margin: 0 10px;

}
.socialIcons ul li img{
  max-width:40px;
  max-height:40px;
}

.footerText {
  color:#FFF;
  text-align: center;
}