
.header {
    display: flex;
    align-items: start;
    position: relative;
    z-index: 999;
}
.logo {
    margin-right: 30px;
}
.logo img{
    width: 80px;
}
.nav {
    position: relative;
    top:20px;
}
.nav ul{
    list-style: none;
}
.nav ul li {
    display: inline-block;
    margin: 0 10px;
}
.nav ul li a {
    color: #FFF;
    text-decoration: none;
}