@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}

.container{
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  background: linear-gradient(180deg, rgba(37,135,184,1) 28%, rgba(153,208,229,1) 100%);
  display: flex;
  flex-direction: column;
  padding: 25px;
}
.container .Canvas svg{
  height: 100vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

#crystalGlows>*{
  filter: blur(20px);
}
.HeroPluniverse {
flex: 1;
}
.HeroPluniverse > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}




.BurgerMenu {
  position: fixed;
  right: 1.5em;
  top: 2.25em;
  height: 0.5em;
  width: 2.5em;
  border-radius: 1em;
  background: white;
}
.BurgerMenu:before {
  transition: all 0.25s;
  content: "";
  position: absolute;
  left: 0;
  top: -0.75em;
  height: 0.5em;
  width: 2.5em;
  border-radius: 1em;
  background: white;
}
.BurgerMenu:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0.75em;
  height: 0.5em;
  width: 2.5em;
  border-radius: 1em;
  background: white;
  transition: all 0.25s;
}
.MobileNavigationWrapper {
  margin-bottom: 30px;
  background: rgb(111, 65, 17);;
  width: 100%;
  padding: 15px 15px 5px;
  position: absolute;
  width: 100%;
  left: 0;
  top:0;
  z-index: 999;
  height: 82px;
}
.MobileNavigationWrapper .logo img{
height: 56px;
width: auto;  
}
.MobileNavigationWrapperSep {
  height: 70px;
}
.Navigation ul {
  text-align: center;
  padding: 0.5em 0;
  width: 100%;
  color: white;
}
.Navigation a {
  display: inline-block;
  padding: 0.5em;
  vertical-align: middle;
  text-decoration: none;
  transition: all 0.4s;
}
.Navigation a:focus {
  color: white;
}
.Navigation a:link, .Navigation a:visited {
  color: white;
}
.Navigation a:hover, .Navigation a:active {
  background: rgba(34, 34, 34, 0.25);
}
.Navigation li {
  display: inline;
  font-size: 32px;
  font-size: 22px;
}
.Navigation--collapsed {
  display: none;
  position: fixed;
  border-radius: 0.5em;
  top: 0.875em;
  right: 1.125em;
  height: 3.25em;
  width: 3.25em;
  z-index: 9999;
  cursor: pointer;
  transition: all 0.25s;
}
.Navigation-list {
  display: inline-block;
  text-align: center;
}
.Navigation-smallLogo {
  display: inline-block;
  padding-right: 1em;
  vertical-align: middle;
  font-weight: bold;
  font-style: italic;
}

.Overlay {
  display: inline-block;
  vertical-align: middle;
}

@media only screen and (max-width: 50em) {
  .BurgerMenu--on {
    background-color: transparent;
    transition: all 0.25s;
  }
  .BurgerMenu--on:before {
    transition: all 0.25s;
    content: "";
    transform: rotate(45deg);
    top: 0px;
  }
  .BurgerMenu--on:after {
    transition: all 0.25s;
    content: "";
    transform: rotate(-45deg);
    top: 0px;
  }

  .Navigation--collapsed {
    display: block;
  }
  .Navigation-list {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
  }
  .Navigation-list li {
    display: block;
    position: relative;
    height: 25%;
    height: calc(100% / 3);
    min-height: 4em;
  }

  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.35s, visibility 0.35s, height 0.35s;
    overflow: hidden;
    background: rgb(111, 65, 17);
  }
  .Overlay--on {
    height: 100%;
    visibility: visible;
    opacity: 0.9;
    z-index: 9999;
  }
}